WebsiteForParadigms/Web References/localhost/LabService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Lab1_22">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Lab1_22Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lab1_22Result" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab1_51">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab1_51Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lab1_51Result" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab2_4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab2_4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lab2_4Result" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab3_7">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="w" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab3_7Response">
        <s:complexType />
      </s:element>
      <s:element name="Lab4_5">
        <s:complexType />
      </s:element>
      <s:element name="Lab4_5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lab4_5Result" type="tns:ArrayOfChar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="char" type="s1:char" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Lab1_22SoapIn">
    <wsdl:part name="parameters" element="tns:Lab1_22" />
  </wsdl:message>
  <wsdl:message name="Lab1_22SoapOut">
    <wsdl:part name="parameters" element="tns:Lab1_22Response" />
  </wsdl:message>
  <wsdl:message name="Lab1_51SoapIn">
    <wsdl:part name="parameters" element="tns:Lab1_51" />
  </wsdl:message>
  <wsdl:message name="Lab1_51SoapOut">
    <wsdl:part name="parameters" element="tns:Lab1_51Response" />
  </wsdl:message>
  <wsdl:message name="Lab2_4SoapIn">
    <wsdl:part name="parameters" element="tns:Lab2_4" />
  </wsdl:message>
  <wsdl:message name="Lab2_4SoapOut">
    <wsdl:part name="parameters" element="tns:Lab2_4Response" />
  </wsdl:message>
  <wsdl:message name="Lab3_7SoapIn">
    <wsdl:part name="parameters" element="tns:Lab3_7" />
  </wsdl:message>
  <wsdl:message name="Lab3_7SoapOut">
    <wsdl:part name="parameters" element="tns:Lab3_7Response" />
  </wsdl:message>
  <wsdl:message name="Lab4_5SoapIn">
    <wsdl:part name="parameters" element="tns:Lab4_5" />
  </wsdl:message>
  <wsdl:message name="Lab4_5SoapOut">
    <wsdl:part name="parameters" element="tns:Lab4_5Response" />
  </wsdl:message>
  <wsdl:portType name="LabServiceSoap">
    <wsdl:operation name="Lab1_22">
      <wsdl:input message="tns:Lab1_22SoapIn" />
      <wsdl:output message="tns:Lab1_22SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lab1_51">
      <wsdl:input message="tns:Lab1_51SoapIn" />
      <wsdl:output message="tns:Lab1_51SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lab2_4">
      <wsdl:input message="tns:Lab2_4SoapIn" />
      <wsdl:output message="tns:Lab2_4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lab3_7">
      <wsdl:input message="tns:Lab3_7SoapIn" />
      <wsdl:output message="tns:Lab3_7SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lab4_5">
      <wsdl:input message="tns:Lab4_5SoapIn" />
      <wsdl:output message="tns:Lab4_5SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabServiceSoap" type="tns:LabServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lab1_22">
      <soap:operation soapAction="http://tempuri.org/Lab1_22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab1_51">
      <soap:operation soapAction="http://tempuri.org/Lab1_51" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab2_4">
      <soap:operation soapAction="http://tempuri.org/Lab2_4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab3_7">
      <soap:operation soapAction="http://tempuri.org/Lab3_7" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab4_5">
      <soap:operation soapAction="http://tempuri.org/Lab4_5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LabServiceSoap12" type="tns:LabServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Lab1_22">
      <soap12:operation soapAction="http://tempuri.org/Lab1_22" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab1_51">
      <soap12:operation soapAction="http://tempuri.org/Lab1_51" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab2_4">
      <soap12:operation soapAction="http://tempuri.org/Lab2_4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab3_7">
      <soap12:operation soapAction="http://tempuri.org/Lab3_7" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab4_5">
      <soap12:operation soapAction="http://tempuri.org/Lab4_5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabService">
    <wsdl:port name="LabServiceSoap" binding="tns:LabServiceSoap">
      <soap:address location="http://localhost:50081/LabService.asmx" />
    </wsdl:port>
    <wsdl:port name="LabServiceSoap12" binding="tns:LabServiceSoap12">
      <soap12:address location="http://localhost:50081/LabService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>