WebsiteForParadigms/Web References/localhost/LabService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sosite_primitivi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="suka" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sosite_primitiviResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sosite_primitiviResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Lab1_22">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Lab1_22Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lab1_22Result" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Sosite_primitiviSoapIn">
    <wsdl:part name="parameters" element="tns:Sosite_primitivi" />
  </wsdl:message>
  <wsdl:message name="Sosite_primitiviSoapOut">
    <wsdl:part name="parameters" element="tns:Sosite_primitiviResponse" />
  </wsdl:message>
  <wsdl:message name="Lab1_22SoapIn">
    <wsdl:part name="parameters" element="tns:Lab1_22" />
  </wsdl:message>
  <wsdl:message name="Lab1_22SoapOut">
    <wsdl:part name="parameters" element="tns:Lab1_22Response" />
  </wsdl:message>
  <wsdl:portType name="LabServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sosite_primitivi">
      <wsdl:input message="tns:Sosite_primitiviSoapIn" />
      <wsdl:output message="tns:Sosite_primitiviSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Lab1_22">
      <wsdl:input message="tns:Lab1_22SoapIn" />
      <wsdl:output message="tns:Lab1_22SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabServiceSoap" type="tns:LabServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sosite_primitivi">
      <soap:operation soapAction="http://tempuri.org/Sosite_primitivi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab1_22">
      <soap:operation soapAction="http://tempuri.org/Lab1_22" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LabServiceSoap12" type="tns:LabServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sosite_primitivi">
      <soap12:operation soapAction="http://tempuri.org/Sosite_primitivi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Lab1_22">
      <soap12:operation soapAction="http://tempuri.org/Lab1_22" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabService">
    <wsdl:port name="LabServiceSoap" binding="tns:LabServiceSoap">
      <soap:address location="http://localhost:50081/LabService.asmx" />
    </wsdl:port>
    <wsdl:port name="LabServiceSoap12" binding="tns:LabServiceSoap12">
      <soap12:address location="http://localhost:50081/LabService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>